$font-stack: "Open Sans", Arial, sans-serif;

$primary-font-color: #283645;
$secondary-font-color: #ffffff;

$primary-decoration-color: #d22856;

$primary-bg-color: #ffffff;
$secondary-bg-color: #1d2631;
$accent-bg-color: #f2f2f2;
$mobile-main-nav-bg-color: #283645;

$small-font-size: 14px;
$middle-font-size: 18px;
$large-font-size: 24px;

$phone-screen: 320px;
$tablet-screen: 660px;
$desktop-screen: 960px;

$mobile-container: 6.5625vw;
$tablet-container: 3.0303vw;
$desktop-container: 10px;
