$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;

// Z-Index blocks
$zIndex-1--header-decor-line:   $zIndex-1;

$zIndex-2--main-nav-bg:         $zIndex-2;

$zIndex-3--main-nav-content:    $zIndex-3;
$zIndex-3--site-logo:           $zIndex-3;
